@model List<TaskListAllViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
    int index = 0;
}

@foreach (var task in Model)
{
    index++;
    <div class="card my-1">
        <div class="card-header">
            @task.Name
        </div>
        <div class="card-body">
            <h5 class="card-title"><span class="text-danger">Aciliyet Durumu: </span> @task.Urgent.Definition</h5>
            <p class="card-text">@task.Description</p>
            <p class="text-right">
                @if (task.Reports.Count > 0)
                {
                    <a class="btn btn-light btn-sm" data-toggle="collapse" href="#collapseExample-@index" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Raporlara git <i class="fas fa-caret-down ml-2"></i><span class="badge badge-dark">@task.Reports.Count</span>
                    </a>
                }
                else
                {
                    <a asp-action="Add" asp-route-taskId="@task.Id" class="btn btn-light btn-sm"><i class="fas fa-plus-circle mr-2"></i> Rapor Yaz</a>
                }

                <a class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModal" data-taskId="@task.Id">Tamamlandı olarak işaretle</a>

            </p>
            <div class="collapse" id="collapseExample-@index">
                <a asp-action="Add" asp-route-id="@task.Id" class="btn btn-light btn-sm"><i class="fas fa-plus-circle mr-2"></i> Rapor Yaz</a>
                <table class="table table-hover table-bordered table-sm">
                    <tr>
                        <th>Tanım</th>
                        <th>Detay</th>
                        <th>İşlem</th>
                    </tr>
                    @foreach (var report in task.Reports)
                    {
                        <tr>
                            <td>@report.Description</td>
                            <td>@report.Detail</td>
                            <td><a asp-action="Edit" asp-route-id="@report.Id" class="btn btn-warning btn-sm"><i class="fas fa-edit mr-2"></i> Düzenle</a></td>
                        </tr>
                    }
                </table>

            </div>

        </div>
    </div>

}


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Uyarı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center font-weight-bold lead">
                Bu işlemi gerçekleştirmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                <button id="btnDone" type="button" class="btn btn-primary">Tamamla</button>
            </div>
        </div>
    </div>
</div>

@section JavaScript{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#exampleModel").on("show.bs.modal", function (event) {
                let btnDone = $(event.relatedTarget);
                let data = btnDone.data("taskId");
                $("#btnDone").click(function () {

                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "./Work/Done",
                        data: { taskId: data },
                        success: function () {
                            window.location.reload();
                        },
                        error: function (err) {
                            alert(err.responseText);
                        }                        
                    });
                });
            });
        });


    </script>
}
